## Classic Cars EDA Project
------

STEP-1 : Downloading the dataset from kaggle

In [2]:
from kaggle.api.kaggle_api_extended import KaggleApi

api = KaggleApi()
api.authenticate()

api.dataset_download_file('ankanhore545/classic-cars', file_name = 'Cars.csv', path = './Datasets')

True

STEP-2 : Importing necessary libraries

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

!matplotlib inline

Matplotlib is building the font cache; this may take a moment.
'matplotlib' is not recognized as an internal or external command,
operable program or batch file.

STEP-3: Importing Dataset: Datasets/Cars.csv

In [6]:
cars = pd.read_csv('Datasets/Cars.csv', delimiter=';')
cars.head(10)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,"18,0",8,"307,0","130,0",3504,"12,0",70,US
1,Buick Skylark 320,"15,0",8,"350,0","165,0",3693,"11,5",70,US
2,Plymouth Satellite,"18,0",8,"318,0","150,0",3436,"11,0",70,US
3,AMC Rebel SST,"16,0",8,"304,0","150,0",3433,"12,0",70,US
4,Ford Torino,"17,0",8,"302,0","140,0",3449,"10,5",70,US
5,Ford Galaxie 500,"15,0",8,"429,0","198,0",4341,"10,0",70,US
6,Chevrolet Impala,"14,0",8,"454,0","220,0",4354,"9,0",70,US
7,Plymouth Fury iii,"14,0",8,"440,0","215,0",4312,"8,5",70,US
8,Pontiac Catalina,"14,0",8,"455,0","225,0",4425,"10,0",70,US
9,AMC Ambassador DPL,"15,0",8,"390,0","190,0",3850,"8,5",70,US

In [7]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Car           406 non-null    object
 1   MPG           406 non-null    object
 2   Cylinders     406 non-null    int64
 3   Displacement  406 non-null    object
 4   Horsepower    406 non-null    object
 5   Weight        406 non-null    int64
 6   Acceleration  406 non-null    object
 7   Model         406 non-null    int64
 8   Origin        406 non-null    object
dtypes: int64(3), object(6)
memory usage: 28.7+ KB

In [8]:
cars['MPG'].astype('int64')
cars['MPG'].dtype

ValueError: invalid literal for int() with base 10: '18,0'